<section class="cadastrar">

    <header class="cadatrar__nav">
        <nav class="cadastrar__options">
            <a class="cadastrar__option" href="/login">Entrar</a>
            <a class="cadastrar__option" href="/responsavel/cadastrar">Cadastrar</a>
        </nav>
    </header>
    <main class="cadastrar__container">
        <form class="cadastrar__form" action="">
            <input type="text" [(ngModel)]="responsavel.nome_resp" class="input cadastrar__input" name="nome" placeholder="Nome">
            <input type="text" [(ngModel)]="responsavel.cpf_resp" class="input cadastrar__input" name="CPF" placeholder="CPF">
            <input type="text" [(ngModel)]="responsavel.email_resp" class="input cadastrar__input" name="Email" placeholder="CEP">
            <input type="text" [(ngModel)]="responsavel.endereco_resp" class="input cadastrar__input" name="Endereco" placeholder="Loogradouro">
            <input type="text" [(ngModel)]="responsavel.tel1_resp" class="input cadastrar__input" name="telefone1" placeholder="Numero de Telefone">
            <input type="text" [(ngModel)]="responsavel.tel2_resp" class="input cadastrar__input" name="telefone2" placeholder="Numero de Telefone">
            <input type="password" [(ngModel)]="responsavel.senha_resp" class="input cadastrar__input" name="password" placeholder="Senha">
            <!-- <input type="text" class="input cadastrar__input" placeholder="Cidade"> -->
            <!-- <input type="text" class="input cadastrar__input" placeholder="Estado"> -->
            <!-- <a href="/cadastrar-pcd" class="cadastra__btn home__btn" id="cadastraSave" value="Salvar">Salvar</a> -->
            <input type="submit" class="cadastra__btn home__btn" (click)="saveNewResponsavel()" id="cadastraSave" value="Salvar">
        </form>
    </main>
</section>
