<section class="trajetos">
    <h1 class="trajetos__title">Trajetos</h1>
    <div class="trajetos__trajetos">
        <div class="trajetos__item">
            <div class="trajetos__ida">
                <span class="trajetos__head">IDA</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
            <div class="trajetos__volta">
                <span class="trajetos__head">Volta</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
        </div>
        <div class="trajetos__item">
            <div class="trajetos__ida">
                <span class="trajetos__head">IDA</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
            <div class="trajetos__volta">
                <span class="trajetos__head">Volta</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
        </div>
        <div class="trajetos__item">
            <div class="trajetos__ida">
                <span class="trajetos__head">IDA</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
            <div class="trajetos__volta">
                <span class="trajetos__head">Volta</span>
                <div class="trajetos__flex">
                    <span class="trajetos__icon house"></span>
                    <span class="trajetos__icon apae"></span>
                </div>
            </div>
        </div>
    </div>
    <a href="/trajeto/create/" class="btn btn__trajeto">Adicionar Trajeto</a>
</section>